{% extends 'base.html' %}

{% block content %}
    <h1>DIY Projects</h1>
    {% if user.is_authenticated %}
    <p> <a href="{% url 'diyprojects:project_create' %}"> Create Project </a> </p>

        <h4>Projects Created</h4>
        <ul>
            {% for project in created_projects %}
            <li>
                <a href = "{{ project.get_absolute_url }}">
                    {{ project.title }}
                </a>
            </li>
            {% empty %}
                <p><i>No projects created yet.</i></p>
            {% endfor %}
        </ul>
    <h4>My Bookmarks</h4>
    <ul>
        {% for project in favorited_projects %}
            <li>
                <a href = "{{ project.get_absolute_url }}">
                    {{ project.title }}
                </a>
            </li>
            {% empty %}
                <p><i>No favorite projects yet.</i></p>
        {% endfor %}
    </ul>
    <h4>My Reviews</h4>
    <ul>
        {% for project in reviewed_projects %}
            <li>
                <a href = "{{ project.get_absolute_url }}">
                    {{ project.title }}
                </a>
            </li>
            {% empty %}
                <p><i>No reviews yet.</i></p>
        {% endfor %}
    </ul>
    {% endif %} 
    
    <h4>All Projects</h4>
    <ul>
        {% for project in all_projects %}
            <li>
                <a href = "{{ project.get_absolute_url }}">
                    {{ project.title }}
                </a>
            </li>
            {% empty %}
            <i>There are no other projects yet.</i>
        {% endfor %}
    </ul>
{% endblock %}