{% extends "base.html" %}
{% load static %}

{% block content %}
    <h1 class="app_head"><a href="{% url 'localevents:event_list' %}">Local Events</a></h1>

    <div class="detail">
        <img class="app_head" src="{{ event.event_image.url }}" alt="">
    </div>

    <h2 class="app_head">{{ event.title }} ({{ event.category }})</h2>
    <h4 class="app_head"><strong>Event Organizers:</strong></h4>
    {% for user in event.organizer.all %}
        <h3 class="app_head">{{ user }}</h3>
    {% endfor %}

    <h4 class="app_head"> {{ event.description }}</h4>
    <p class="app_head"><strong>Location:</strong> {{ event.location }}</p>
    <p class="app_head"><strong>Event Capacity:</strong> {{ event.event_capacity }}</p>
    <p class="app_head"><strong>Status:</strong> {{ event.status }}</p>
    <p class="app_head"><strong>Start Time:</strong> {{ event.start_time }}</p>
    <p class="app_head"><strong>End Time:</strong> {{ event.end_time }}</p>
    <p class="app_head">Shared on {{ event.created_on }}</p>
    <p class="app_head">Last updated on {{ event.updated_on }}</p>

    <div class="detail">
        <form method="post">
            {% csrf_token %}
            <label for="user_name">
                <span>Please Enter Your Name to Sign Up: </span>
                {{ form.new_registrant }}
            </label>
            <input type="submit" value="Submit">
        </form>
    </div>
{% endblock %}