{% extends "base.html" %}
{% load static %}

{% block content %}
    <h1 class="app_head"><a href="{% url 'localevents:event_list' %}">Local Events</a></h1>
    
    <div class="detail">
        {% if object.event_image %}
            <img class="app_head" src="{{ object.event_image.url }}" alt="">
        {% endif %}
    </div>

    <h2 class="app_head">{{ event.title }} ({{ event.category }})</h2>
    <h4 class="app_head"><strong>Event Organizers:</strong></h4>
    {% for user in event.organizer.all %}
        <h3 class="app_head">{{ user }}</h3>
    {% endfor %}

    <h4 class="app_head"> {{ event.description }}</h4>
    <p class="app_head"><strong>Location:</strong> {{ event.location }}</p>
    <p class="app_head"><strong>Event Capacity:</strong> {{ event.event_capacity }}</p>
    <p class="app_head"><strong>Status:</strong> {{ event.status }}</p>
    <p class="app_head"><strong>Start Time:</strong> {{ event.start_time }}</p>
    <p class="app_head"><strong>End Time:</strong> {{ event.end_time }}</p>
    <p class="app_head">Shared on {{ event.created_on }}</p>
    <p class="app_head">Last updated on {{ event.updated_on }}</p>

    <div class="detail">
        {% if request.user.profile in event.organizer.all %}
            <a class="side-button" href="{% url 'localevents:event_update' event.pk %}">Update Event</a>
        {% elif event in signed_up_events %}
            <button class="side-button" disabled>Signed Up Successfully</button>
        {% elif event.status == "Full" %}
            <button class="side-button" disabled>Full Slots!</button>
        {% else %}
            <form method="post">
                {% csrf_token %}
                <button class="side-button" type="submit" name="signup">Sign Up</button>
            </form>
        {% endif %}
    </div>

{% endblock %}