{% extends "base.html" %}

{% block content %}
    <h1 class="app_head">Book Club</h1>

    <a href="{% url 'bookclub:book_create' %}" class="detail">Contribute a Book</a>

    {% if user.is_authenticated %}
        <h2 class="subhead">Books Contributed</h2>
        <ul class="items">
            {% for books in contributed_books %}
            <li>
                <a href = "{{ books.get_absolute_url }}">
                    {{ books.title }}
                </a>
            </li>
            {% empty %}
                <p><i>No books contributed yet. Sharing is caring.</i></p>
            {% endfor %}
        </ul>
    <h2 class="subhead">Bookmarks</h2>
    <ul class="items">
        {% for books in bookmarked_books %}
            <li>
                <a href = "{{ books.get_absolute_url }}">
                    {{ books.title }}
                </a>
            </li>
            {% empty %}
                <p><i>No bookmarks yet. The brain is an unreliable archive.</i></p>
        {% endfor %}
    </ul>
    <h2 class="subhead">Books Reviewed</h2>
    <ul class="items">
        {% for books in reviewed_books %}
            <li>
                <a href = "{{ books.get_absolute_url }}">
                    {{ books.title }}
                </a>
            </li>
            {% empty %}
                <p><i>No reviews yet. Your thoughts matter.</i></p>
        {% endfor %}
    </ul>
    {% endif %} 
    
    <h2 class="subhead">Bookshelf</h2>
    <ul class="items">
        {% for books in all_books %}
            <li>
                <a href = "{{ books.get_absolute_url }}">
                    {{ books.title }}
                </a>
            </li>
            {% empty %}
            <i>This shelf is currently desolate.</i>
        {% endfor %}
    </ul>
{% endblock %}