{% extends "base.html" %}
{% load static %}

{% block content %}
    <h1 class="app_head">Merchandise Store</h1>
    <h2 class="app_head">Your Transactions</h2>

{% regroup transactions by buyer as buyer_list %}
{% for group in buyer_list %}
    <h4 class="app_head">Buyer: {{ group.grouper }}</h4>
    <div style="display:flex; justify-content: center;">
        <ul style="text-align: left;">
            {% for transaction in group.list %}
            <li>
                <b>{{ transaction.product.name }}</b>
                <br>
                Amount: {{ transaction.amount }}
                <br>
                Status: {{ transaction.status }}
                <br>
                Purchased on: {{ transaction.created_on.date }}
            </li>
            <br>
            {% endfor %}
        </ul>
    </div>
{% empty %}
    <p>Transactions are empty</p>
{% endfor %}

<br>
<a href="{% url 'merchstore:product_list' %}" style="display: block; text-align: center;">Go Back</a>
{% endblock %}